backend:
  name: github
  repo: IROD-Lab/irod_lab_website
  branch: main
  base_url: https://api.netlify.com
  auth_endpoint: auth

publish_mode: editorial_workflow

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "news"
    label: "News"
    folder: "content/news/cms"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    extension: "qmd"
    format: "yaml-frontmatter"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "openings"
    label: "Openings"
    folder: "content/openings/cms"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    extension: "qmd"
    format: "yaml-frontmatter"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Body", name: "body", widget: "markdown"}